<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Local_DeviceCode" value="777777"/>
    <!--本地客户端设备的终端号-->
    <add key="Server_remotePort" value="1618"/>
    <!--远程段服务器端口-->
    <add key="CustomTerminatorSign" value="###" />
    <!--在和客户端进行socket通讯的时候，每次需要在后面跟上一个 自定义终结符-->
  </appSettings>
</configuration>