<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <superSocket xmlns="http://schema.supersocket.net/supersocket" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schema.supersocket.net/supersocket http://schema.supersocket.net/v1-6/supersocket.xsd">
    <servers>
      <server name="TelnetServer" serverType="MultimediaSysServer.TelnetServer, MultimediaSysServer" ip="Any" port="1616" clearIdleSession="false" keepAliveTime="60" keepAliveInterval="30" textEncoding="UTF-8" maxConnectionNumber="10000"></server>
      <server name="TelnetServerByte" serverType="MultimediaSysServer.TelnetServerByte, MultimediaSysServer" ip="Any" port="1618" clearIdleSession="false" keepAliveTime="60" keepAliveInterval="30" textEncoding="UTF-8" maxConnectionNumber="10000"></server>
    </servers>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="CustomTerminatorSign" value="###" />
    <!--在和客户端进行socket通讯的时候，每次需要在后面跟上一个 自定义终结符-->
    <add key="SuperWebSocketServerPort" value="1617" />
    <!--SuperWebSocket实现的服务器上面，开启的监听端口号-->
  </appSettings>
  <connectionStrings>
    <add name="MultimediaSYSEntities" connectionString="metadata=res://*/EntityModels.MultimediaSysModel.csdl|res://*/EntityModels.MultimediaSysModel.ssdl|res://*/EntityModels.MultimediaSysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MultimediaSYS;user id=sa;password=62183666;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>